<!-- Header content -->

<header class="header">
    <nav class="nav-container">
        <div class="logo-section">
            <a href="https://garvitchhugani.com" class="logo-link">
            <img src="images/GC.jpg" alt="GC Logo" class="logo-img">
            <span class="logo-text">Garvit Chhugani</span>
        </div>
        
        <div class="menu-toggle">
            <i class="fas fa-ellipsis-h"></i>
        </div>

        <div class="nav-links">
            <div class="nav-item">
                <a href="#">Work</a>
                <div class="dropdown">
                    <a href="https://garvitchhugani.com/autonmis" class="dropdown-item">Autonmis</a>
                    <a href="https://garvitchhugani.com/analyttica" class="dropdown-item">LEAPS by Analyttica</a>
                    <a href="https://garvitchhugani.com/zolve" class="dropdown-item">Zolve</a>
                </div>
            </div>

            <div class="nav-item">
                <a href="#">Case Studies</a>
                <div class="dropdown">
                    <a href="https://garvitchhugani.com/rewinto" class="dropdown-item">Rewinto</a>
                    <a href="https://garvitchhugani.com/kaleidofin" class="dropdown-item">Kaleidofin</a>
                    <a href="https://garvitchhugani.com/spotify" class="dropdown-item">Spotify</a>
                    <a href="https://garvitchhugani.com/blinzedu" class="dropdown-item">Blinzedu</a>
                </div>
            </div>

            <div class="nav-item">
                <a href="#">Enhancements</a>
                <div class="dropdown">
                    <a href="https://garvitchhugani.com/zomato" class="dropdown-item">Zomato</a>
                    <a href="https://garvitchhugani.com/yocket" class="dropdown-item">Yocket</a>
                    <a href="https://garvitchhugani.com/wtr" class="dropdown-item">WTR</a>

                </div>
            </div>

            <div class="nav-item">
                <a href="#">Product Teardowns</a>
                <div class="dropdown">
                    <a href="https://garvitchhugani.com/yulu" class="dropdown-item">Yulu</a>
                    <a href="https://garvitchhugani.com/ixigo" class="dropdown-item">Ixigo</a>
                    <a href="https://garvitchhugani.com/bewakoof" class="dropdown-item">Bewakoof</a>
                    <a href="https://garvitchhugani.com/googlepay" class="dropdown-item">Google Pay</a>
                    <a href="https://garvitchhugani.com/snapchat" class="dropdown-item">Snapchat</a>
                    <a href="https://garvitchhugani.com/inshorts" class="dropdown-item">Inshorts</a>
                </div>
            </div>

            <div class="nav-item">
                <a href="https://garvitchhugani.com/about">About + Connect</a>
            </div>

            <div class="social-links">
                <a href="https://www.linkedin.com/in/garvitchhugani/" target="_blank" class="social-link">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/Garvit-Chhugani" target="_blank" class="social-link">
                    <i class="fab fa-github"></i>
                </a>
                <a href="mailto:garvit.chhugani17@gmail.com" class="social-link">
                    <i class="far fa-envelope"></i>
                </a>
            </div>
        </div>
    </nav>
</header>